<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>  
    </settings>
      <environments default="matrix">
          <environment id="matrix">
                <transactionManager type="JDBC"/>
                <dataSource type="POOLED">    
                    <property name="driver" value="${jdbc.driverClassName}"/>
                    <property name="url" value="${jdbc.url}"/>
                    <property name="username" value="${jdbc.username}"/>
                    <property name="password" value="${jdbc.password}"/>
                    <property name="poolMaximumActiveConnections" value="1000"/> <!--DEFAULT 10 -->
                    <!--property name="poolMaximumCheckoutTime" value="2000" /--> <!--DEFAULT 20000 -->
                    <!--property name="poolTimeToWait" value="2000" /--> <!--DEFAULT 20000 -->
                </dataSource>
          </environment>
      </environments>
      
      <mappers>
        <mapper class="com.gs.hacom.dcs.dao.MapperDaemon"/> 
      </mappers>
</configuration>