<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>  
    </settings>
  <environments default="gspos">
  <environment id="gspos">
    <transactionManager type="JDBC"/>
    <dataSource type="UNPOOLED">    
   <property name="driver" value="${jdbc.driverClassName}"/>
   <property name="url" value="${jdbc.url}"/>
   <property name="username" value="${jdbc.username}"/>
   <property name="password" value="${jdbc.password}"/>
    </dataSource>
  </environment> 
  </environments>
  <mappers>
    <mapper class="com.gs.pos.configuracion.domain.MapperConfiguracion"/>
  </mappers>
</configuration>
